body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-main);
}

.main {
  position: relative;
  overflow: hidden;
}

a {
  color: var(--color-main);
  text-decoration: none;

  &:hover {
    color: var(--color-red);
  }
}

.header {
  &__top {
    padding: 10px 0;
    background: #efeff0;

    &__nav {
      li:not(:last-child) {
        padding-right: 34px;
      }

      a {
        display: flex;
        align-items: center;
        white-space: nowrap;
        line-height: 28px;

        &:hover {
          color: var(--color-red);
        }

      }
    }

    &__right {
      width: 280px;
      margin-left: auto;
    }

    &__soc {
      li:not(:last-child) {
        padding-right: 20px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
      }
    }

    &__cabinet {
      margin-left: auto;
      margin-right: 12px;
    }
  }

  &__center {
    padding-top: 30px;
    padding-bottom: 28px;
  }

}

.ml-8 {
  margin-left: 8px;
}

.mr-15 {
  margin-right: 15px;
}

.ico-red {
  color: var(--color-red);
}

.header__icons {
  width: 280px;
  margin-left: auto;

  &__list {
    li:not(:last-child) {
      padding-right: 35px;
    }
  }

  &__item {
    width: 64px;
    position: relative;
    text-align: center;

    &__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
    }

    &__label {
      padding-top: 5px;
      font-size: 13px;
      line-height: 1.2;
    }

    &__count {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 8px;

      &:not(.active) {
        display: none;
      }

      &.active {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        line-height: 18px;
        text-align: center;
        background: var(--color-red);
        color: #fff;
        font-size: 11px;
      }
    }
  }
}

.header__city {
  margin-left: 40px;
  padding-left: 28px;
  position: relative;

  &__ico {
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  &__active {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;
  }
}

.header__worcktime {
  display: block;
  color: var(--color-silver);
  font-size: 13px;
  line-height: 1.2;
}

.header__phone {
  margin-left: 47px;
  padding-left: 32px;
  position: relative;
  padding-bottom: 6px;

  &__ico {
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  &__val {
    color: #231f20;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: block;
  }

  &__btn {
    display: block;
    color: var(--color-silver);
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: var(--color-red);
    }
  }
}

.header__email {
  margin-left: 60px;
  padding-left: 35px;
  position: relative;

  &__val {
    font-size: 14px;
    line-height: 24px;
  }

  &__ico {
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.header__bottom {
  padding-bottom: 25px;

  &__col-btn {
    width: 160px;
    padding-right: 20px;
    min-width: 160px;
  }

  &__btn {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__col-search {
    flex-grow: 1;
  }

  &__search {
    position: relative;

    &__inp {
      width: 100%;
      padding: 10px 5px 10px 20px;
      height: 48px;
      border-radius: 5px;
      border: 1px solid var(--color-main);
      font-size: 14px;

      &::placeholder {
        color: #a3a3a3;
        opacity: 1;
      }
    }

    &__submit {
      padding: 0;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 48px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: var(--color-main);

      &:hover {
        color: var(--color-red);
      }
    }
  }
}

.btn {
  display: inline-flex;
  padding: 10px 19px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  border-radius: 5px;

  &--red {
    background: var(--color-red);

    &:hover {
      background: var(--color-red-hover);
      color: #fff;
    }
  }

  &--silver {
    background: var(--color-main);

    &:hover {
      background: var(--color-silver);
      color: #fff;
    }
  }
}

.dropdown-toggle::after {
  color: var(--color-red);
}

.home-slider {
  margin-bottom: 60px;

  &__item {
    position: relative;

    &__inner {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 650px;
      height: 100%;
      padding: 30px 0 30px 67px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 25px;
      }

      p {
        font-size: 18px;
        letter-spacing: 0.02em;
        margin: 0;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 15px;
    }
  }

  &__pagination {
    position: absolute;
    z-index: 11;
    --swiper-pagination-bottom: 30px;
    margin-left: 63px;
    max-width: 400px;
    display: flex;

    .swiper-pagination-bullet {
      width: 25px;
      height: 6px;
      border-radius: 3px;
      background: #fff;
      --swiper-pagination-bullet-inactive-opacity: 1;
      transition: all 0.2s ease;

      &-active {
        background: var(--color-red);
      }
    }
  }

  &__nav {
    display: flex;
    position: absolute;
    bottom: 30px;
    z-index: 12;
    right: 67px;
    width: 118px;
    justify-content: space-between;
  }
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  color: #000;
  background: #fff;
  transition: all 0.2s ease;

  &:hover {
    background: var(--color-red);
    color: #fff;
  }
}

.catalog-categories {
  padding-bottom: 60px;
  &__item {
    padding-bottom: 25px;
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
    &__title {
      text-align: center;
      padding-top: 15px;
    }
  }
}
input:active,
input:focus,
input:hover,
button:active,
button:focus,
button:hover{
  outline: none !important;
  box-shadow: none !important;
}
img {
  max-width: 100%;
  height: auto;
}

.tabs-slider {
  position: relative;
  padding-bottom: 60px;
  &__header {
    border-bottom: 1px solid #e8e8e8;
    .nav-link {
      position: relative;
      padding: 0 0 25px 0;
      font-size: 30px;
      line-height: 1.1;
      font-weight: 500;
      opacity: 0.4;
      transition: all 0.2s ease-in;
      color: var(--color-main);
      &.active {
        opacity: 1;
        &::after {
          opacity: 1;
          margin-top: -1px;
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--color-red);
        margin-top: 5px;
        opacity: 0;
        transition: all 0.1s ease-in;
      }
    }
    .nav-item {
      padding-right: 60px;
    }
  }
  &__body {
    padding-top: 30px;
  }
}

.card-product {
  position: relative;
  &__badge {
    position: absolute;
    z-index: 10;
    top: 14px;
    left: 10px;
    display: flex;
    flex-direction: column;
    &__item {
      margin-bottom: 10px;
      display: inline-flex;
      height: 24px;
      padding: 0 6px;
      font-size: 12px;
      letter-spacing: 0.02em;
      font-weight: 500;
      align-items: center;
      border-radius: 5px;
      &--new {
        color: #fff;
        background: #16a085;
      }
    }
  }
  &__icons {
    position: absolute;
    z-index: 10;
    top: 14px;
    right: 0;
    li {
      padding-right: 10px;
    }
  }
  &__inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  &__top-attr {
    margin: 0;
    padding: 0 0 15px;
    &__col1 {
      width: 45%;
      padding-right: 5px;
    }
    &__col2 {
      width: 55%;
    }
    dd {
      margin: 0 3px 0 0;
      color: #8a8a8a;
      font-size: 12px;
    }
    dt {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  &__quantity-ratio {
    padding: 0 0 0 25px;
    font-size: 12px;
    line-height: 20px;
    margin: auto 0 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 470.49 510.2'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath fill='%23484848' d='M417.15,88.48,288.58,14.24a107,107,0,0,0-106.67,0L53.33,88.48A107,107,0,0,0,0,180.85V329.33a107,107,0,0,0,53.33,92.4L181.91,496a106.94,106.94,0,0,0,106.67,0l128.57-74.22a107,107,0,0,0,53.34-92.4V180.85A107,107,0,0,0,417.15,88.48ZM203.24,51.21a64,64,0,0,1,64,0l128.58,74.22a63.06,63.06,0,0,1,9.15,7L272.85,208.74a75.3,75.3,0,0,1-75.22,0L65.51,132.47a63.14,63.14,0,0,1,9.16-7ZM74.67,384.76a64.18,64.18,0,0,1-32-55.47V180.85a61,61,0,0,1,1.51-11.41L176.3,245.71a116.91,116.91,0,0,0,37.61,13.54V463.39A62,62,0,0,1,203.24,459Zm353.15-55.47a64.18,64.18,0,0,1-32,55.47L267.24,459a62.26,62.26,0,0,1-10.66,4.39V259.25a116.91,116.91,0,0,0,37.61-13.54L426.3,169.44a61.85,61.85,0,0,1,1.52,11.41Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 15px 16px;
  }
  &__link {
    &:hover {
      color: var(--color-main);
    }
  }
  &__type-price {
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 3px;
    background: #f4f4f4;
    margin: 0 auto 10px 0;
    span {
      font-size: 12px;
    }
    &__label {
      color: #8a8a8a;
    }
  }
  &__price {
    display: flex;
    padding-bottom: 12px;
    &__val {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      padding-right: 3px;
      white-space: nowrap;
    }
    &__currency {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  &__min-count {
    padding-bottom: 12px;
    font-size: 12px;
    color: #8a8a8a;
    span {
      color: var(--color-main);
    }
  }
}
.btn--actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  color: var(--color-main);
  background: #f4f4f4;
}
.tabs-slider__products .slider-product__item {
  width: 270px;
}
.card-product__pic {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}