body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-main);
}

.main {
  position: relative;
  overflow: hidden;
}

a {
  color: var(--color-main);
  text-decoration: none;

  &:hover {
    color: var(--color-red);
  }
}

.header {
  &__top {
    padding: 10px 0;
    background: #efeff0;

    &__nav {
      li:not(:last-child) {
        padding-right: 34px;
      }

      a {
        display: flex;
        align-items: center;
        white-space: nowrap;
        line-height: 28px;

        &:hover {
          color: var(--color-red);
        }

      }
    }

    &__right {
      width: 280px;
      margin-left: auto;
    }

    &__soc {
      li:not(:last-child) {
        padding-right: 20px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
      }
    }

    &__cabinet {
      margin-left: auto;
      margin-right: 12px;
    }
  }

  &__center {
    padding-top: 30px;
    padding-bottom: 28px;
  }

}

.ml-8 {
  margin-left: 8px;
}

.mr-15 {
  margin-right: 15px;
}

.ico-red {
  color: var(--color-red);
}

.header__icons {
  width: 280px;
  margin-left: auto;

  &__list {
    li:not(:last-child) {
      padding-right: 35px;
    }
  }

  &__item {
    width: 64px;
    position: relative;
    text-align: center;

    &__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
    }

    &__label {
      padding-top: 5px;
      font-size: 13px;
      line-height: 1.2;
    }

    &__count {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 8px;

      &:not(.active) {
        display: none;
      }

      &.active {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        line-height: 18px;
        text-align: center;
        background: var(--color-red);
        color: #fff;
        font-size: 11px;
      }
    }
  }
}

.header__city {
  margin-left: 40px;
  padding-left: 28px;
  position: relative;

  &__ico {
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  &__active {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;
  }
}

.header__worcktime {
  display: block;
  color: var(--color-silver);
  font-size: 13px;
  line-height: 1.2;
}

.header__phone {
  margin-left: 47px;
  padding-left: 32px;
  position: relative;
  padding-bottom: 6px;

  &__ico {
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  &__val {
    color: #231f20;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: block;
  }

  &__btn {
    display: block;
    color: var(--color-silver);
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: var(--color-red);
    }
  }
}

.header__email {
  margin-left: 60px;
  padding-left: 35px;
  position: relative;

  &__val {
    font-size: 14px;
    line-height: 24px;
  }

  &__ico {
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 1px;
    position: absolute;
  }
}

.header__bottom {
  padding-bottom: 25px;

  &__col-btn {
    width: 160px;
    padding-right: 20px;
    min-width: 160px;
  }

  &__btn {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__col-search {
    flex-grow: 1;
  }

  &__search {
    position: relative;

    &__inp {
      width: 100%;
      padding: 10px 5px 10px 20px;
      height: 48px;
      border-radius: 5px;
      border: 1px solid var(--color-main);
      font-size: 14px;

      &::placeholder {
        color: #a3a3a3;
        opacity: 1;
      }
    }

    &__submit {
      padding: 0;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 48px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: var(--color-main);

      &:hover {
        color: var(--color-red);
      }
    }
  }
}

.btn {
  display: inline-flex;
  padding: 10px 19px;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  border-radius: 5px;

  &--red {
    background: var(--color-red);

    &:hover {
      background: var(--color-red-hover);
      color: #fff;
    }
  }

  &--silver {
    background: var(--color-main);

    &:hover {
      background: var(--color-silver);
      color: #fff;
    }
  }

  &.w-100 {
    text-align: center;
    justify-content: center;
  }
}

.dropdown-toggle::after {
  color: var(--color-red);
}

.home-slider {
  margin-bottom: 60px;

  &__item {
    position: relative;

    &__inner {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 650px;
      height: 100%;
      padding: 30px 0 30px 67px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 25px;
      }

      p {
        font-size: 18px;
        letter-spacing: 0.02em;
        margin: 0;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 15px;
    }
  }

  &__pagination {
    position: absolute;
    z-index: 11;
    --swiper-pagination-bottom: 30px;
    margin-left: 63px;
    max-width: 400px;
    display: flex;

    .swiper-pagination-bullet {
      width: 25px;
      height: 6px;
      border-radius: 3px;
      background: #fff;
      --swiper-pagination-bullet-inactive-opacity: 1;
      transition: all 0.2s ease;

      &-active {
        background: var(--color-red);
      }
    }
  }

  &__nav {
    display: flex;
    position: absolute;
    bottom: 30px;
    z-index: 12;
    right: 67px;
    width: 118px;
    justify-content: space-between;
  }
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  color: #000;
  background: #fff;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

  &:hover {
    background: var(--color-red);
    color: #fff;
  }
}

.catalog-categories {
  padding-bottom: 60px;

  &__item {
    padding-bottom: 25px;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    &__title {
      text-align: center;
      padding-top: 15px;
    }
  }
}

input:active,
input:focus,
input:hover,
button:active,
button:focus,
button:hover,
.form-select:active,
.form-select:focus,
.form-select:hover {
  outline: none !important;
  box-shadow: none !important;
}
.form-select {
  height: 48px;
  border-radius: 5px;
  border-color: #cecece !important;
  font-size: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 280.99 161.83'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Bold'%3E%3Cpath fill='%23ad2125' d='M21.33,0H259.66a21.34,21.34,0,0,1,15.09,36.42L155.58,155.58a21.34,21.34,0,0,1-30.17,0L6.25,36.42A21.34,21.34,0,0,1,21.33,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 6px 3px;
}
img {
  max-width: 100%;
  height: auto;
}

.tabs-slider {
  position: relative;
  padding-bottom: 90px;

  &__header {
    border-bottom: 1px solid #e8e8e8;

    .nav-link {
      position: relative;
      padding: 0 0 25px 0;
      font-size: 30px;
      line-height: 1.1;
      font-weight: 500;
      opacity: 0.4;
      transition: all 0.2s ease-in;
      color: var(--color-main);

      &.active {
        opacity: 1;

        &::after {
          opacity: 1;
          margin-top: -1px;
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--color-red);
        margin-top: 5px;
        opacity: 0;
        transition: all 0.1s ease-in;
      }
    }

    .nav-item {
      padding-right: 60px;
    }
  }

  &__body {
    padding-top: 30px;
  }
}

.card-product {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__link {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__badge {
    position: absolute;
    z-index: 10;
    top: 14px;
    left: 10px;
    display: flex;
    flex-direction: column;

    &__item {
      margin-bottom: 10px;
      display: inline-flex;
      height: 24px;
      padding: 0 6px;
      font-size: 12px;
      letter-spacing: 0.02em;
      font-weight: 500;
      align-items: center;
      border-radius: 5px;

      &--new {
        color: #fff;
        background: #16a085;
      }
    }
  }

  &__icons {
    position: absolute;
    z-index: 10;
    top: 14px;
    right: 0;

    li {
      padding-right: 10px;
    }
  }

  &__inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__footer {
    padding: 0 10px;
    display: flex;

    &__col-count {
      width: 120px;
      min-width: 120px;
      padding-right: 20px;
    }

    &__col-bay {
      width: 150px;
      flex-grow: 1;
    }
  }

  &__top-attr {
    margin: 0;
    padding: 0 0 11px;

    &__col1 {
      width: 45%;
      padding-right: 5px;
    }

    &__col2 {
      width: 55%;
    }

    dd {
      margin: 0 3px 0 0;
      color: #8a8a8a;
      font-size: 12px;
    }

    dt {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__quantity-ratio {
    padding: 0 0 0 25px;
    font-size: 12px;
    line-height: 20px;
    margin: auto 0 9px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 470.49 510.2'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath fill='%23484848' d='M417.15,88.48,288.58,14.24a107,107,0,0,0-106.67,0L53.33,88.48A107,107,0,0,0,0,180.85V329.33a107,107,0,0,0,53.33,92.4L181.91,496a106.94,106.94,0,0,0,106.67,0l128.57-74.22a107,107,0,0,0,53.34-92.4V180.85A107,107,0,0,0,417.15,88.48ZM203.24,51.21a64,64,0,0,1,64,0l128.58,74.22a63.06,63.06,0,0,1,9.15,7L272.85,208.74a75.3,75.3,0,0,1-75.22,0L65.51,132.47a63.14,63.14,0,0,1,9.16-7ZM74.67,384.76a64.18,64.18,0,0,1-32-55.47V180.85a61,61,0,0,1,1.51-11.41L176.3,245.71a116.91,116.91,0,0,0,37.61,13.54V463.39A62,62,0,0,1,203.24,459Zm353.15-55.47a64.18,64.18,0,0,1-32,55.47L267.24,459a62.26,62.26,0,0,1-10.66,4.39V259.25a116.91,116.91,0,0,0,37.61-13.54L426.3,169.44a61.85,61.85,0,0,1,1.52,11.41Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 15px 16px;
  }

  &__link {
    &:hover {
      color: var(--color-main);
    }
  }

  &__type-price {
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 3px;
    background: #f4f4f4;
    margin: 0 auto 6px 0;

    span {
      font-size: 12px;
    }

    &__label {
      color: #8a8a8a;
    }
  }

  &__price {
    display: flex;
    padding-bottom: 6px;

    &__val {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      padding-right: 3px;
      white-space: nowrap;
    }

    &__currency {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  &__min-count {
    padding-bottom: 15px;
    font-size: 12px;
    color: #8a8a8a;

    span {
      color: var(--color-main);
    }
  }
}

.btn--actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  color: var(--color-main);
  background: #f4f4f4;
}

.tabs-slider__products .slider-product__item {
  width: 270px;
  height: auto;
  margin-right: 30px;
}

.card-product__pic {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.quantity {
  position: relative;
  width: 100%;
  padding-right: 22px;
  border: 1px solid #cecece;
  border-radius: 5px;
  overflow: hidden;

  &__btn {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 22px;

    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #cecece;
    border-bottom: none;

    &--plus {
      top: 0;
      border-top: none;
      border-radius: 0 5px 0 0;
      height: 50%;
    }

    &--minus {
      border-top: 1px solid #cecece;
      border-radius: 0 0 5px 0;
      bottom: 0;
      height: 50%;
    }
  }

  &__val {
    width: 100%;
    height: 46px;
    border: none;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    line-height: 46px;
    font-weight: 500;
    padding: 8px 5px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.tabs-slider__products {
  .slider-nav {
    position: absolute;
    z-index: 12;
    top: 50%;
    margin-top: -24px;

    &.swiper-next {
      right: -24px;
    }

    &.swiper-prev {
      left: -24px;
    }
  }
}

.tabs-slider__body__link {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 0;
}

.link-more {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  height: 24px;

  &__ico {
    margin-left: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: var(--color-red);
  }
}

.page-caption {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  h2 {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
  }

  .link-more {
    margin-top: 10px;
  }
}

.fpad90 {
  padding-bottom: 90px;
}

.news-item {
  display: block;

  img {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  &__desc {
    padding: 15px 10px 0;
  }

  &__date {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 6px;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
  }
}

.news-slider {
  .slider-nav {
    top: 115px;
    position: absolute;
    z-index: 10;

    &.swiper-next {
      right: -24px;
    }

    &.swiper-prev {
      left: -24px;
    }
  }
}

.banner {
  position: relative;

  &__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 375px;
    object-fit: cover;
    object-position: right center;
    border-radius: 15px;
  }

  &__inner {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 0 10px 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
  }

  &__ico {
    padding-bottom: 25px;
  }

  h2 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  &__link {
    padding-top: 25px;
  }
}

.fpad30 {
  padding-bottom: 30px;
}

.fpad60 {
  padding-bottom: 60px;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 5px;
  background: #f4f4f4;
  height: 120px;

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    .brand-item__img {
      filter: grayscale(0%);
    }
  }
}

.text {
  font-size: 14px;

  h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 18px;
  }
}

.more-text-open {
  position: relative;
  padding-top: 10px;
  box-shadow: 0px -16px 30px 20px #fff;

  .link-more__ico {
    transform: rotate(90deg);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
  }
}

.more-text-close {
  position: relative;
  padding-top: 10px;

  .link-more__ico {
    transform: rotate(-90deg);
  }
}

.footer {
  background: #222222;
  padding-top: 55px;

  &__logo {
    display: inline-block;
    margin-bottom: 50px;
  }

  &__nav {
    li {
      padding-bottom: 13px;

      a {
        color: #9f9f9f;
        font-size: 14px;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__row {
    padding-bottom: 50px;
    border-bottom: 1px solid #484848;
    margin-bottom: 55px;
  }

  &__phone {
    padding-bottom: 20px;

    a {
      display: block;
      position: relative;
      padding-left: 30px;
      font-size: 16px;
      color: #fff;
      line-height: 24px;
      font-weight: 500;

      &:hover {
        color: var(--color-red);
      }
    }

    &__ico {
      position: absolute;
      z-index: 1;
      top: 5px;
      left: 0;
    }
  }

  &__address {
    position: relative;
    padding: 0 0 20px 30px;

    &__ico {
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 0;
    }

    &__val {
      font-size: 14px;
      color: #fff;
      line-height: 18px;
      padding-bottom: 10px;
    }

    &__worcktime {
      font-size: 13px;
      color: #8a8a8a;
    }
  }

  &__email {
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;

    &__ico {
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 0;
    }
  }

  &__caption {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  &__nav-soc {
    li {
      width: 178px;
    }

    &__item {
      display: flex;
      align-items: center;
      font-size: 14px;

      &:hover span {
        color: var(--color-red);
      }

      &__ico {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        color: var(--color-red);
        border: 1px solid var(--color-red);
        width: 47px;
        height: 47px;
        border-radius: 4px;
      }

      span {
        color: #a3a3a3;
      }
    }
  }

  &__row2 {
    padding-bottom: 60px;
  }

  &__form-subscription {
    max-width: 420px;

    &__col-inp {
      flex-grow: 1;
      padding-right: 10px;
    }

    &__col-submit {
      min-width: 140px;
    }

    &__ps {
      padding-top: 16px;
      font-size: 12px;
      line-height: 16px;
      color: #9f9f9f;

      a {
        color: #9f9f9f;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__bottom {
    padding: 15px 0;
    background: #161616;

    a {
      font-size: 14px;
      line-height: 20px;
      color: #9f9f9f;

      &:hover {
        color: #fff;
      }
    }

    &__copy {
      font-size: 14px;
      line-height: 20px;
      color: #9f9f9f;
    }
  }

  .form-control {
    border-color: var(--color-main) !important;
  }
}

.form-control {
  width: 100%;
  display: block;
  padding: 10px 20px;
  height: 48px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #cecece;
  font-size: 14px;

  &::placeholder {
    color: #a3a3a3;
    opacity: 1;
  }

  &:hover,
  &:active, {
    &:focus {
      border: 1px solid #cecece;
    }
  }
}

.modal {
  --bs-modal-width: 470px;
}

.modal-content {
  padding: 35px 50px;
  border: none !important;
  border-radius: 10px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
}

.modal__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.05;
}

.modal-backdrop.show {
  --bs-backdrop-opacity: 0.7;
}

.btn-close {
  opacity: 1;
  color: #000;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:hover {
    color: var(--color-red);
  }
}

.fs-14 {
  font-size: 14px;
  line-height: 18px;
}
.form-ps {
  font-size: 12px;
  line-height: 18px;
  color: #9f9f9f;
  a {
    color: #9f9f9f;
  }
}

.title-search-result {
  z-index: 50;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 5px;
  padding: 20px 20px 0 20px;
  &__item {
    padding-bottom: 12px;
    &__img {
      width: 68px;
      min-width: 68px;
      padding-right: 20px;
      img {
        display: block;
      }
    }
    &__desc {
      width: 300px;
      flex-grow: 1;
    }
    &__title {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      padding-bottom: 6px;
    }
    &__cost {
      display: flex;
      align-items: center;
      &__val {
        padding-right: 5px;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
      }
      &__currency {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
      }
    }
  }
}
.title-search-all {
  margin-top: 5px;
  padding: 15px 0;
  border-top: 1px solid #efeff0;
}