@media screen and (max-width: 1199px) {
  .header__top__nav li:not(:last-child) {
    padding-right: 10px;
  }
  .header__phone,
  .header__city,
  .header__email {
    margin-left: 10px;
  }
  .header__icons__list li:not(:last-child) {
    padding-right: 5px;
  }
  .header__phone__val {
    white-space: nowrap;
  }
  .header__icons {
    width: auto;
  }
  .header__fix-menu__col-search {
    display: none;
  }
  .header__fix-menu__nav-ico {
    margin-left: auto;
  }
  .row {
    --bs-gutter-x: 20px;
  }

  .header__center {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__icons {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    background: #484848;
  }
  .header__mob-col-nav {
    display: flex;
    align-items: center;
    width: 40px;
    padding-right: 20px;
    min-width: 40px;
  }
  .header__logo img {
    display: block;
    width: 90px;
    height: 23px;
  }
  .header__city__ico,
  .header__worcktime,
  .header__city__active__val,
  .header__city__active::after,
  .header__phone__btn,
  .header__phone__val span,
  .header__email__val span,
  .header__bottom__col-btn,
  .home-slider__nav {
    display: none;
  }
  .header__city__active__mob-ico,
  .header__phone__mob-ico,
  .header__mob-cabinet {
    display: block;
  }
  .header__city__active {
    margin-bottom: 0;
  }
  .header__phone {
    padding-bottom: 0;
    padding-left: 0;
  }
  .header__phone__ico,
  .header__email__ico {
    color: var(--color-main);
    position: relative;
    top: auto;
    left: auto;
  }
  .header__email,
  .header__city {
    padding-left: 0;
  }
  .header__city {
    margin-left: auto;
  }
  .header__mob-cabinet {
    margin-left: 10px;
  }
  .header__bottom {
    padding: 10px 0;
    margin-bottom: 10px;
    background: #efeff0;

    .header__bottom__search__inp {
      border-color: #cecece;
      height: 36px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .header__mob-top {
    position: absolute;
    z-index: 10;
    top: 53px;
    left: 0;
    width: 100%;
  }
  .header__top__right {
    display: none !important;
  }
  .header__top__nav {
    flex-direction: column;
    width: 100%;
    padding: 10px 0 35px;

    li:not(:last-child) {
      border-bottom: 1px solid #cecece;
    }

    a {
      display: flex;
      width: 100%;
      padding: 12px 0;
    }
  }
  .header__fix-menu {
    display: none;
  }

  .header__icons__mob-col {
    display: block;
  }
  .header__icons__list {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 720px;
    padding: 0 15px;
  }
  .header__icons__item {
    color: #fff;
    padding: 10px 0 7px;
    display: block;

    .header__icons__item__count {
      top: 5px;
      right: 0;
    }

    &__svg {
      color: #fff;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__label {
      padding-top: 5px;
      font-size: 10px;
      line-height: 1;
      display: block;
    }
  }
  .header__icons__list li:not(:last-child) {
    padding-right: 0;
  }
  .header__top__mob-soc {
    display: block;
    padding-bottom: 20px;

    &__title {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 15px;
    }

    li {
      width: auto !important;
    }
  }
  .header__top__row {
    display: block !important;
  }
  .mob-modal-body {
    background: #efeff0;
    padding: 20px 0;

    &__nav {
      flex-wrap: nowrap;
      padding-bottom: 10px;

      li:not(:last-child) {
        margin-right: 20px;
      }
    }

    .nav-link {
      width: 130px;
      padding: 5px 10px;
      height: 35px;
      border-radius: 5px;
      background: #484848;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;

      &.active {
        background: #ad2125;
      }
    }
  }
  .fs-16 {
    font-size: 14px;
  }
  .modal-full-header {
    padding-top: 18px;
    padding-bottom: 18px;
    height: auto;

    .btn-close {
      margin-right: 0;
      width: 13px;
      height: 13px;

      svg {
        width: 13px;
        height: 13px;
        display: block;
      }
    }
  }
  .modal__title {
    font-size: 16px;
    line-height: 18px;
  }
  .mob-modal-body__list2 {
    padding-top: 5px;
    a {
      padding: 12px 0;
      display: flex;
      align-items: center;
    }
  }
  .brand-mob {
    background: #fff;
    border: 1px solid #cecece;
    border-radius: 5px !important;
    margin-bottom: 5px;
    .accordion-button {
      padding: 15px 15px 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      &::after {
        display: none !important;
      }
    }
    .accordion-button__drop {
      margin-left: auto;
    }
    &__img {
      width: 80px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        width: auto;
      }
    }
    .accordion-body {
      padding: 0 20px 5px;
    }
  }
  .cookie {
    bottom: 90px;
    &__text {
      padding-right: 30px;
    }
  }
  .header__icons__item__label {
    display: block;
    color: #fff;
  }
  .footer__bottom {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 991px) {

  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__nav {
    display: none;
  }
  .footer__email {
    margin-bottom: 20px;
  }
  .footer__row {
    padding-bottom: 5px;
    margin-bottom: 25px;
  }

  .footer__nav-soc {
    margin-bottom: 25px;
  }
  .footer__row2 {
    padding-bottom: 25px;
  }
  .home-slider__item__inner {
    padding: 20px;
    width: 100%;
  }
  .home-slider__pagination {
    position: relative;
    margin-left: 0;
    bottom: auto !important;
    left: auto !important;
    margin-top: 8px;
    justify-content: center;
    max-width: 100%;

    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      background: #efeff0;
    }
  }
  .home-slider__item__inner h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .home-slider {
    margin-bottom: 30px;
  }

  .catalog-categories {
    padding-bottom: 30px;
  }
  .tabs-slider__body__link,
  .top-more-link {
    position: relative;
    top: auto;
    padding-top: 20px;
    right: auto;
  }
  .tabs-slider__header .nav-link {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .tabs-slider {
    padding-bottom: 60px;
  }
  .page-caption {
    padding-bottom: 25px;
  }
  .fpad30 {
    padding-bottom: 20px;
  }
  .fpad90 {
    padding-bottom: 50px;
  }
  .breadcrumb {
    --bs-breadcrumb-margin-bottom: 15px;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .catalog-item--list {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    .catalog-item__left-col {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 0;
      padding: 0;
      .catalog-item__img {
        width: 50%;
        padding-right: 10px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 100%;
          height: auto;
          max-height: 100%;
          width: auto;
        }
      }
      .catalog-item__status {
        top: 0;
        left: 100%;
        margin-left: 10px;
      }
    }
    .catalog-item__top-prop {
      padding: 40px 0 0 50%;
      height: 120px;
    }
    .card-product__top-attr {
      flex-direction: column;
      padding-left: 10px;
      .card-product__top-attr__col1 {
        width: 100%;
        padding-right: 0;
        padding-bottom: 15px;
      }
    }
    .catalog-item__right {
      padding-top: 10px;
    }

    .card-product__footer {
      flex-wrap: nowrap;
      padding-bottom: 0  !important;
      justify-content: space-between;
      .card-product__footer__col-count,
      & .card-product__footer__col-bay {
        width: calc(50% - 10px);
        max-width: calc(50% - 10px);
        min-width: calc(50% - 10px);
        padding-right: 0;
        padding-bottom: 15px;
      }
    }
    .catalog-item__footer-icons {
      justify-content: space-between;
      li {
        width: calc(50% - 10px);
      }
      .btn--link {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 36px;
        background: #f4f4f4;
        border-radius: 5px;
        width: 100%;
        span {
          font-size: 13px;
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .header__icons__list {
    max-width: 540px;
  }
  .breadcrumb li:not(:last-child) {
    padding-right: 25px;
    &::after {
      right: 10px;
    }
  }
  .catalog-item--list:not(:first-child) {
    border-top: none;
  }
  .catalog-list {
    padding-bottom: 10px;
  }

  .footer {
    padding-top: 30px;
  }
  .home-slider__item__inner h2 {
    font-size: 16px;
  }
  .home-slider__item__inner p,
  .breadcrumb a {
    font-size: 12px;
  }
  .header__bottom__col-search__mob {
    display: block;
  }
  .header__bottom__col-search__pc {
    display: none;
  }
  .btn {
    font-size: 12px;
    padding: 5px;
  }
  .card-product__footer,
  .card-product__inner {
    padding: 0;
  }
  .tabs-slider__products .slider-nav.swiper-prev {
    left: -48px;
  }
  .tabs-slider__products .slider-nav.swiper-next {
    right: -48px;
  }
  .catalog-categories__item__title {
    font-size: 12px;
    overflow-wrap: break-word;
  }
  .header__bottom .header__bottom__search__inp {
    font-size: 12px;
  }
  .page-caption h2 {
    font-size: 20px;
  }
  .cookie__wrap {
    border-radius: 5px;
    padding: 20px;
    flex-direction: column;
  }
  .cookie__ico {
    padding-bottom: 20px;
    svg {
      width: 36px;
      height: 36px;
    }
  }
  .cookie__text {
    padding: 0 0 20px 0;
  }
  .swiper-scrollbar--mob {
    display: block;
  }
  .footer__btn-up {
    right: 15px;
    width: 36px;
    height: 36px;
    bottom: 90px;
    top: auto;
  }
  .just-validate-error-label {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 34px;
    font-size: 12px;
  }
  .news-slider .slider-nav {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .banner__inner {
    padding: 20px;
    width: 100%;
  }
  .banner__ico {
    padding-bottom: 15px;
  }
  .banner h2 {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.3;
    margin-bottom: 15px;
    br {
      display: none;
    }
  }
  .banner p {
    font-size: 12px;
    line-height: 1.3;
  }
  .banner__link {
    width: 140px;
    .btn {
      width: 100%;
      height: 36px;
      justify-content: center;
      text-align: center;
    }
  }
  .fpad50 {
    padding-bottom: 25px;
  }
  .category-item__img {
    padding-bottom: 15px;
  }
  .category-item__title,
  .category-item__submenu li a {
    font-size: 12px;
  }
  .category-item__submenu li,
  .category-item__title {
    padding-bottom: 10px;
  }
  .catalog-categories {
    margin-left: -5px;
    margin-right: -5px;
    &__item {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 15px;
    }
  }
  .pagination {
    &__more {
      height: 36px;
      padding: 5px;
      font-size: 12px;
    }
  }
  .pagination__nav__item,
  .pagination__nav__btn {
    width: 36px;
    height: 36px;
    min-width: 36px;
    font-size: 12px;
  }
  .pagination__nav__btn svg {
    width: 6px;
    height: 12px;
  }
}

@media screen and (max-width: 574px) {
  .tabs-slider__products .slider-nav.swiper-prev,
  .tabs-slider__products .slider-nav.swiper-next {
    display: none;
  }
  .card-product__icons {
    position: relative;
    right: auto;
    top: auto;
  }
  .card-product__footer {
    flex-wrap: wrap;
  }
  .card-product__footer__col-count {
    width: 100%;
    padding-right: 0;
    min-width: 100%;
    padding-bottom: 15px;
  }
  .quantity {
    display: flex;
    padding-right: 0;
    height: 36px;
  }
  .quantity__val {
    height: 100%;
    order: 2;
    line-height: 20px;
  }
  .quantity__btn {
    position: relative;
    right: auto;
    height: 100%;
    padding: 0;
    width: 36px;
    top: auto;

    &--minus {
      order: 1;
      border-left: none;
      border-top: none;
      border-right: 1px solid #cecece;
      border-radius: 5px 0 0 5px;
    }

    &--plus {
      order: 3;
      border-left: 1px solid #cecece;
      border-radius: 0 5px 5px 0;
    }
  }
  .btn {
    height: 36px;
  }
  .card-product__pic {
    margin-bottom: 10px;
  }
  .card-product__top-attr {
    padding-bottom: 8px;
  }
  .tabs-slider__products .slider-product__item {
    width: 220px;
  }
  .slider-product:not(.swiper-initialized) .slider-product__item {
    margin-right: 0 !important;
  }
  /* .tabs-slider__products {
     width: 220px;
   }*/
  .slider-product {
    overflow: visible !important;
  }
  .card-product__footer__col-bay {
    width: calc(100% - 84px);
  }
  .tabs-slider__header .nav-item {
    padding-right: 0;
    width: auto;
  }
  .footer__nav-soc__item span {
    display: none;
  }
  .footer__nav-soc li {
    width: auto;
  }
  .footer__form-subscription__row {
    display: block !important;
  }
  .footer__form-subscription__col-inp {
    padding: 0 0 20px;
    .form-control {
      height: 36px;
    }
  }
  .footer__form-subscription {
    max-width: 100%;
  }
  .footer__form-subscription__ps br {
    display: none;
  }
  .footer__bottom a {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
  }
  .footer__bottom__row {
    flex-direction: column-reverse;
  }
  .footer__bottom__copy,
  .footer__address__val,
  .footer__address__worcktime {
    font-size: 12px;
  }
  .footer__caption {
    font-size: 16px;
  }
  .catalog-filter {
    display: none;
    position: fixed;
    z-index: 100;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 0;
    overflow-y: auto;
    &.active {
      display: block;
    }
    &__footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 10px 20px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    }
    &__reset {
      width: calc(50% - 10px);
      padding: 0;
      margin: 0;
      height: 36px;
      border-radius: 5px;
      border: 1px solid #484848;
      text-transform: uppercase;
      font-size: 12px;

      svg,
      & span {
        display: none;
      }
    }
    .btn {
      width: calc(50% - 10px) !important;
    }
  }
  .catalog-filter__mob-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #efeff0;
    span {
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
    }
    .btn-close {
      padding: 0;
      width: 13px;
      height: 13px;
    }
  }
  .catalog-filter__list {
    padding: 0 20px;
  }
  .catalog-filter__item .catalog-filter__item__header {
    padding-top: 19px;
    padding-bottom: 20px;
    font-size: 14px;
  }
  .catalog-mob-btn-filter {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 !important;
    border: none !important;
    overflow: hidden;
    &__text {
      flex-grow: 1;
      text-transform: uppercase;
      text-align: left;
      padding-left: 15px;
    }
    &__ico {
      display: flex;
      height: 100%;
      width: 48px;
      align-items: center;
      justify-content: center;
      background: var(--color-red);
    }
    &__drop {
      width: 38px;
      display: flex;
      justify-content: center;
      transform: rotate(180deg);
    }
  }
  .filter-active {
    .swiper {
      overflow: visible;
    }
  }
}

@media screen and (max-width: 360px) {
  .header__icons__item {
    width: 50px;
  }
  .mob-modal-body__nav {
    li {
      width: calc(50% - 10px);
      .nav-link {
        width: 100%;
      }
    }
  }
}