.main {
  position: relative;
  overflow: hidden;
}

body {
  font-family: "Geologica", sans-serif;
}

.header {
  padding: 35px 0;
  background: #252525;

  &__logo {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
  &__nav {
    justify-content: center;
    gap: 30px;
    a {
      display: block;
      padding: 5px 0;
      color: #fff;
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
      text-decoration: none;
    }

    &__area {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #bd8f62;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__work-time {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
  }

  &__tel {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
}
.home-top {
  position: relative;
  z-index: 1;

  h1 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 25px;
    color: #fff;
    b {
      display: block;
      font-size: 60px;
      font-weight: bold;
    }
  }
  p {
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 100;
    margin: 0 0 35px;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
  &__wrap {
    background: #252525;
    padding: 60px 0 280px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  height: 65px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  background: #bd8f62;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

@media (min-width: 1400px) {
  .pilotage .container {
    max-width: 1320px;
  }
}


.home-top__img {
  position: relative;
  z-index: 1;
  margin-top: -203px;
  &__before {
    padding-bottom: 20px;
  }
  &__after {
    padding-top: 20px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &::after {
    content: '';
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    z-index: 10;
    top: 203px;
    left: 50%;
    margin: -42px 0 0 -42px;
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 42px;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='_Ð¡Ð»Ð¾Ð¹_1' data-name='Ð¡Ð»Ð¾Ð¹ 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 18 13.32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd;%0Afill: %232b2b2b; %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: none; %7D .cls-3 %7B clip-path: url(%23clippath); %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-2' width='18' height='13.32'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-3'%3E%3Cpath class='cls-1' d='m17,5.66c-2.44,0-4.66-2.22-4.66-4.66V0h-2v1c0,1.77.78,3.44,2,4.66H0v2h12.34c-1.22,1.22-2,2.89-2,4.66v1h2v-1c0-2.44,2.22-4.66,4.66-4.66h1v-2h-1Z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 24px 18px;
  }
}
.home-top__footer {
  text-align: center;
  padding: 23px 0 90px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
  color: #2b2b2b;
}

.pilotage {
  h2 {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0 0 45px;
  }
}

.home-sect-prim {
  padding-bottom: 70px;
  &__item {
    display: flex;
    align-items: center;
    height: 127px;
    background: #f4f0eb;
    &__ico {
      display: flex;
      justify-content: center;
      min-width: 110px;
    }
    &__desc {
      padding: 10px 30px 10px 0;
      flex-grow: 1;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.fpad30 {
  padding-bottom: 24px;
}
